.~lock.CaseStudy_2_TouristikBike_Overview.ods#
.~lock.Fallstudie.odt#
.~lock.LinkedInLearning.odt#
.~lock.Zusammenfassung.odt#
AssetCaseStudy_Calendar.png
AssetCaseStudy_Dropdown_List.png
AssetCaseStudy_Dropdown_List.png~
CaseStudy_2_TouristikBike_Overview.ods
Fallstudie.odt
LinkedInLearning.odt
Mockup_CaseStudy_Draft1.PNG
Mockup_CaseStudy_Draft2.PNG
Mockup_CaseStudy_Draft3.PNG
Zusammenfassung.odt
InputLastTeamsCall_01Aug.txt
UsedResources.txt
.~lock.ClassDiagram.odg#
.~lock.SourceDocumentation.odt#
ClassDiagram.odg
SourceDocumentation.odt
ToDo_openIssues
AbschlussarbeitWebDevBasics.odt
Mockup_cart_final.PNG
Mockup_final.PNG
Webshop_cart_example.PNG
Webshop_example.PNG
AbschlussarbeitWebDevBasics.pdf
